.group:after {
  content: "";
  display: table;
  clear: both;
}

.anchor-default {
  color: #b08254;
  text-decoration: none;
}
.anchor-default:hover {
  text-decoration: underline;
}

.anchor-accent {
  color: #8f332c;
  text-decoration: none;
}
.anchor-accent:hover {
  text-decoration: underline;
}

.anchor-muted {
  color: #3c656f;
  text-decoration: none;
}
.anchor-muted:hover {
  text-decoration: underline;
}

@font-face {
  font-family: 'FuturaBold';
  src: url("../fonts/fub_____-webfont.eot");
  src: url("../fonts/fub_____-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fub_____-webfont.woff") format("woff"), url("../fonts/fub_____-webfont.ttf") format("truetype"), url("../fonts/fub_____-webfont.svg#FuturaBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaMedium';
  src: url("../fonts/fu______-webfont.eot");
  src: url("../fonts/fu______-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fu______-webfont.woff") format("woff"), url("../fonts/fu______-webfont.ttf") format("truetype"), url("../fonts/fu______-webfont.svg#FuturaMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
.btn-share {
  width: 3.75rem;
  height: 3.75rem;
  display: inline-block;
  margin: 0 0.625rem;
  background-color: grey;
  text-indent: -99999px;
}

.sidebar-search, .sidebar-gallery-links {
  width: 12.5rem;
  float: left;
}

.gallery-stage {
  width: 36.25rem;
  float: left;
  margin: 0 3.75rem;
}

.gallery-stage__image img {
  width: 100%;
}

.gallery-details__info {
  position: relative;
  width: 36.25rem;
  margin: 0.625rem auto 1.25rem;
  text-align: center;
}

.gallery-details__info-hdr {
  color: #3c656f;
  font-size: 1.75rem;
  margin: 0 0 0.5rem 0;
}
.gallery-details__info-hdr span {
  font-size: 1.125rem;
}

.gallery-details__controls {
  position: absolute;
  background: url(../images/sprites/sprite-gallery.png) 0 0 no-repeat;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 1.5rem;
  height: 2.125rem;
  text-indent: -9999px;
}
.gallery-details__controls.-left {
  left: -5.25rem;
  background-position: 0 -68px;
}
.gallery-details__controls.-left:hover {
  background-position: 0 -102px;
}
.gallery-details__controls.-right {
  right: -5.25rem;
  background-position: 0 0;
}
.gallery-details__controls.-right:hover {
  background-position: 0 -34px;
}

.gallery-container {
  position: relative;
  max-width: 88.75rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

body {
  font-family: 'FuturaMedium';
  background-color: #f3e9d9;
  font-size: 0.8125rem;
  margin: 0;
}

img {
  border: 0;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

#site-header {
  background: url(../images/backgrounds/bg-header.png);
  height: 8.75rem;
}

#access {
  height: 46px;
  border-bottom: 1px solid #bebab7;
  width: 1100px;
  margin: auto;
}

.wrap-container {
  width: 100%;
}

.wrap-container__nav {
  background: url(../images/backgrounds/bg-papertexture.jpg);
}

.main-container {
  width: 1100px;
  margin: auto;
}

.main-breadcrumb {
  padding: 1rem 0;
  color: #b3864c;
}
.main-breadcrumb a {
  text-decoration: none;
  color: #b3864c;
}
.main-breadcrumb a:hover {
  text-decoration: underline;
}
.main-breadcrumb .main-breadcrumb__current {
  color: #a43929;
}

.sidebar-search__options select {
  width: 100%;
}
