// main buttons
%btn {
    -webkit-appearance: none;
    transition: opacity 0.125s, border-color 0.125s, background-color 0.125s, color 0.125s;
    display: inline-block;
    position: relative;
    border: solid 1px #595959;
    border-radius: 3px;
    padding: rem(6px) rem(12px);
    background-color: #8f332c;
    font-size: rem(16px);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    line-height: 1.25;
    cursor: pointer;
    color: white;
    &:active {
        top: 2px;
    }
    &:focus {
        outline: 0;
    }
    &:hover {
        background-color: #b27570;
        border-color: #8f332c;
    }
    &[disabled] {
        opacity: 0.45;
    }
}

.btn-primary {
    @extend %btn;
}

.btn-secondary {
    @extend %btn;
    background-color: #3c656f;
    &:hover {
        background-color: #73a4b0;
    }
}

.btn-small {
    padding: rem(4px) rem(8px);
    font-size: rem(14px);
}

.btn-block {
    display: block;
    width: 100%;
}

// social chicklets
.btn-share {
    transition: opacity 0.125s;
    width: rem(30px);
    height: rem(30px);
    display: inline-block;
    margin: 0 rem(1px);
    background-color: grey;
    text-indent: -99999px;
    background: url(../images/sprites/sprite-social.png) 0 0 no-repeat;
    &.btn-share__shareaholic {
        background-position: 0 0;
    }
    &.btn-share__facebook {
        background-position: 0 -31px;
    }
    &.btn-share__pinterest {
        background-position: 0 -62px;
    }
    &.btn-share__twitter {
        background-position: 0 -93px;
    }
    &:hover {
        opacity: .7;
    }
}

.btn-magnifier {
    display: block;
    width: rem(37px);
    height: rem(37px);
    background: url(../images/sprites/sprite-gallery.png) 0 -746px no-repeat;
    text-indent: -99999px;
    &.-tl {
        position: absolute;
        top: rem(4px);
        left: rem(4px);
    }
    &.-br {
        position: absolute;
        bottom: rem(8px);
        right: rem(4px);
    }
    &:hover {
        opacity: .8;
    }
}

