// main buttons

// social chicklets
.btn-share {
    width: rem(60px);
    height: rem(60px);
    display: inline-block;
    margin: 0 rem(10px);
    background-color: grey;
    text-indent: -99999px
}
