// Gallery page specific styles

.gallery-container {
    width: 100%;
    border-top: 1px solid $color-hr;
    padding-top: rem(20px);
}

.sidebar-gallery-links {
    width: rem(200px);
    float: left;
}

.sidebar-gallery-bullets {
    margin: 0 0 rem(25px) 0;
    padding: 0;
    list-style: none;
    border-bottom: 2px solid $color-hr;
    padding-bottom: rem(10px);
    li {}
    a {
        display: block;
        font-size: rem(16px);
        padding: rem(15px) 0 rem(15px) rem(30px);
        font-weight: bold;
        background: url(../images/sprites/sprite-gallery.png) 0 0 no-repeat;
        &.bullet-description {
            background-position: 0 -188px;
        }
        &.bullet-view-image {
            background-position: 0 -246px;
        }
        &.bullet-add-wishlist {
            background-position: 0 -305px;
        }
        &.bullet-inquire {
            background-position: 0 -362px;
        }
    }
}

.gallery-stage {
    width: rem(580px);
    float: left;
    margin: 0 rem(60px);
}

.gallery-stage__image {
    margin-bottom: rem(15px);
}

.gallery-stage__image img {
    width: 100%;
}

.gallery-details__info {
    position: relative;
    width: rem(580px);
    margin: rem(10px) auto rem(20px);
    text-align: center;
}

.gallery-details__info-description {
    font-size: rem(15px);
    letter-spacing: $letter-spacing-default;
}

.gallery-details__info-hdr {
    color: $color-heading;
    font-size: rem(28px);
    margin: 0 0 rem(8px) 0;
    letter-spacing: $letter-spacing-default;
    span {
        font-size: rem(18px);
    }
}

.gallery-details__controls {
    position: absolute;
    background: url(../images/sprites/sprite-gallery.png) 0 0 no-repeat;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: rem(24px);
    height: rem(34px);
    text-indent: -9999px;
    &.-left {
        left: rem(-84px);
        background-position: 0 -68px;
        &:hover {
            background-position: 0 -102px;
        }
    }
    &.-right {
        right: rem(-84px);
        background-position: 0 0;
        &:hover {
            background-position: 0 -34px;
        }
    }
}

.gallery-stage__detail {
    float: left;
    width: 50%;
    text-align: center;
    font-size: rem(16px);
    font-weight: bold;
}

.gallery-description {
    text-align: center;
    border-top: 2px solid $color-hr;
    border-bottom: 2px solid $color-hr;
    padding: rem(12px) 0;
    margin: rem(28px) 0;
    font-size: rem(15px);
    line-height: 1.5;
}

.gallery-description__content {
    width: rem(700px);
    margin: 0 auto;
}

.gallery-description__hdr {
    text-transform: uppercase;
    margin-bottom: rem(10px);
    letter-spacing: $letter-spacing-default;
}

.gallery-description__share-text {
    margin: rem(12px) 0;
    font-weight: bold;
    color: $color-breadcrumb;
}

.sidebar-gallery-buttons {
    margin-bottom: rem(30px);
    border-bottom: 2px solid $color-hr;
    button, a {
        margin-bottom: rem(30px);
    }
}

.btn-gallerty-learn-more {
    display: block;
    font-size: rem(16px);
    padding: 0 0 0 rem(40px);
    font-weight: bold;
    background: url(../images/sprites/sprite-gallery.png) 0 -433px no-repeat;
}

