// Functions

// Mixins

// Just regular re-usable css
.group:after {
  content: "";
  display: table;
  clear: both;
}

.anchor-default {
    color: $anchor-default;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.anchor-accent {
    color: $anchor-accent;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.anchor-muted {
    color: $color-heading;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    &.-underline {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}

.gallery-push {
    margin-top: rem(60px);
}

