// main layout styles

// resets and existing styles

body {
    font-family: 'FuturaMedium';
    background-color: $claremont-bg;
    font-size: rem(14px);
    margin: 0;
    color: $color-default-font;
}

img {
    border: 0
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

#site-header {
    background: url(../images/backgrounds/bg-header.png);
    height: rem(140px);
    text-align: center;
}

#access {
    height: 46px;
    border-bottom: 1px solid #bebab7;
    width: 1100px;
    margin: auto;
}

.wrap-container {
    width: 100%
}

// new gallery containers
.wrap-container__nav {
    background: url(../images/backgrounds/bg-papertexture.jpg);
}

.main-container {
    width: 1100px;
    margin: auto;
}

.main-breadcrumb {
    padding: rem(16px) 0;
    color: $color-breadcrumb;
    a {
        text-decoration: none;
        color: $color-breadcrumb;
        &:hover {
            text-decoration: underline;
        }
    }
    .main-breadcrumb__current {
        color: $breadcrumb-current;
    }
}

// sidebar search
.sidebar-search {
    width: rem(200px);
    float: left;
}

.sidebar-search-refine {
    padding-bottom: rem(20px);
    margin-bottom: rem(20px);
    border-bottom: 1px solid $color-hr;
}

.sidebar-search__input {
    position: relative;
    input {
        display: block;
        font-size: rem(15px);
        width: rem(160px);
        padding: rem(5px);
    }
    .sidebar-search__submit {
        display: block;
        position: absolute;
        right: rem(-2px);
        top: rem(5px);
        width: rem(24px);
        height: rem(24px);
        text-indent: -9999px;
        background: url(../images/sprites/sprite-gallery.png) 0 -501px no-repeat;
    }
}

.sidebar-search__hdr {
    text-transform: uppercase;
    font-size: rem(18px);
    color: $color-heading;
    margin-bottom: rem(12px);
    letter-spacing: $letter-spacing-default;
    &.-refine {
        color: $color-default-font;
        font-size: rem(16px);
        font-weight: bold;
        text-transform: none;
        letter-spacing: 1px;
    }
}

.sidebar-search__options {
    margin: rem(12px) 0 rem(6px) 0;
    select {
        width: 100%;
        margin-bottom: rem(12px);
        font-size: rem(16px);
        padding: rem(5px);
    }
}

.sidebar-search__instructions {
    margin-top: rem(35px);
}

.sidebar-search__controls {
    text-align: right;
}


