// Request info form specific styles

.gallery-stage-info-page {
    width: rem(756px);
    float: left;
    margin: 0 0 0 rem(44px);
}

.sidebar-info-page {
    width: rem(300px);
    float: left;
}

.request-info__hdr {
    font-size: rem(18px);
    color: $color-heading-dark;
    margin-bottom: rem(12px);
    letter-spacing: $letter-spacing-default;
}

.request-info-form__block {
    display: block;
    margin-bottom: rem(10px);
    label {
        font-size: rem(12px);
        font-weight: bold;
        display: block;
        margin-bottom: rem(2px);
    }
}

.request-info-form__input {
    display: block;
    font-size: rem(12px);
    width: 100%;
    padding: rem(8px);
    box-sizing: border-box;
    border: 1px solid $color-input-request-border;
    &::placeholder {
        color: $color-input-request-placeholder;
    }
}

.request-info-form__textarea {
    display: block;
    font-size: rem(12px);
    width: 100%;
    padding: rem(8px);
    box-sizing: border-box;
    border: 1px solid $color-input-request-border;
    height: rem(100px);
    resize: none;
    &::placeholder {
        color: $color-input-request-placeholder;
    }
}

// Select box styling for request info form
select.request-info-form__select {
   -webkit-appearance: button;
   -webkit-border-radius: 1px;
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(../images/sprites/sprite-gallery.png);
   background-position: 100% -864px;
   background-repeat: no-repeat;
   background-color: white;
   border: 1px solid $color-input-request-border;
   font-size: rem(12px);
   margin: 0;
   overflow: hidden;
   padding: 8px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 100%;
}

.request-info-form__city {
    float: left;
    width: 69%;
    margin-right: 1%;
}

.request-info-form__state {
    float: left;
    width: 30%; 
}

.request-info-form__zip {
    float: left;
    width: 39%;
    margin-right: 1%;
}

.request-info-form__country {
    float: left;
    width: 60%;
}

.sidebar-info-page__controls {
    margin-top: rem(20px);
}

.request-info-thanks {
    width: rem(550px);
    margin: 0 auto;
    text-align: center;
    padding: rem(90px) 0;
    background: url(../images/backgrounds/bg-patch.png) 50% 50% no-repeat;
    background-size: 45%;
    p {
        color: $color-confirmation-body;
        width: 70%;
        font-size: rem(18px);
        margin: rem(25px) auto 0;
        line-height: 1.2;
        &.-italics {
            font-style: italic;
        }
    }
}

.request-info-thanks__hdr {
    color: $color-confirmation-hdr;
    font-size: rem(20px);
    font-style: italic;
}




