// Request info form specific styles

.gallery-stage-info-page {
    width: rem(756px);
    float: left;
    margin: 0 0 0 rem(44px);
}

.sidebar-info-page {
    width: rem(300px);
    float: left;
}
