// global settings

// pallete
$claremont-bg: #f3e9d9;
$breadcrumb-current: #a43929;
$anchor-default: #b08254;
$anchor-accent: #8f332c;
$color-heading: #3c656f;
$color-hr: #595959;
$color-breadcrumb: #b3864c;

