// global functions
@function rem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

// global settings

// pallete
$claremont-bg: #f3e9d9;
$breadcrumb-current: #a43929;
$anchor-default: #b08254;
$anchor-accent: #8f332c;
$color-heading: #3c656f;
$color-heading-alt: #a43929;
$color-hr: #595959;
$color-default-font: #595959;
$color-breadcrumb: #6c6c6c;
$letter-spacing-default: rem(1px);
$background-grey: #9f9c9b;
$color-heading-dark: #8c352d;
$color-gallery-arrow: #ebe0c9;
$color-gallery-arrow-alt: #f2e7d1;
